<!-- BEGIN PAGE CONTENT -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container-fluid">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Cases <small> Find and manage Cases</small></h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
                <!-- BEGIN THEME PANEL -->
                
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>
    </div>
    <!-- END PAGE HEAD -->
    <div class="page-content">
        <div class="container-fluid">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="/dashboard">Dashboard</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/cases">Cases</a><i class="fa fa-circle"></i>
                </li>                        
                <li class="active">
                    Add
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light" id="form_wizard_1">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">
                                    <i class="fa fa-user"></i> Add Case</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <%= form_for(@case, :html => {:class => 'form-horizontal', :id => 'case_create' }) do |f| %>
                                <div class="form-body">
                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Title <span class="required">*</span></label>
                                        <div class="col-md-7">
                                            <%= f.text_field :v_title, attrName: "case[v_title]", name: "v_title", class:"form-control", placeholder:"Add Title" %>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Contact Person <span class="required">*</span></label>
                                        <div class="col-md-7">
                                        <%= f.collection_select :contact_id, Contact.all, :id, :first_name, {prompt: "Select Contact Person"}, :class =>"form-control select2me" %>
                                         </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Description <span class="required">*</span></label>
                                        <div class="col-md-7">
                                            <%= f.text_area :v_desc, attrName: "case[v_desc]", name: "v_desc", class:"form-control", class:"ckeditor form-control", placeholder:"Add Description" %>         
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Reference Urls </label>
                                        <div class="col-md-7">

                                            <%= f.text_field :v_reference_urls, attrName: "case[v_reference_urls]", name: "v_reference_urls", class:"form-control", placeholder:"Enter Reference URL" %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">File Attachment  </label>
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-3">
                                                <span class="btn green fileinput-button">
                                                    <i class="fa fa-plus"></i> <span>Add files... </span>
                                                   <%= f.file_field :file, attrName: "case[file]", name: "file" %>
                                                </span>
                                                <span class="help-block">   </span>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Tags</label>
                                        <div class="col-md-7">

                                            <%= f.text_field :v_tags, attrName: "case[v_tags]", id:"tags_2", name: "v_tags", class:"form-control", placeholder:"Add Tags" %>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Notes</label>
                                        <div class="col-md-7">

                                            <%= f.text_area :v_note, attrName: "case[v_note]", name: "v_note", class:"form-control", placeholder:"Add Notes" %>
                                        </div>
                                    </div>
                                
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="inputWarning">Status <span class="required">*</span></label>
                                        <div class="col-md-7">
                                            <select class="form-control select2me" name="e_status">
                                                <option value="open">Open</option>
                                                <option value="won">Won</option>
                                                <option value="lost">Lost</option>
                                                <option value="dead">Dead</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                               <button type="submit" id="submit_case_action" class="btn green-haze">
                                                  Save </button>
                                                 <a class="btn default" href="/cases">Cancel </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->  
<link href="/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet"/>
<link href="/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
<link href="/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet"/>
<script src="/plugins/jquery-tags-input/jquery.tagsinput.min.js" type="text/javascript"></script>
<script src="/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
<script src="/js/components-form-tools.js"></script>     
<script>
    jQuery(document).ready(function() {       
                // initiate layout and plugins
                Metronic.init();
                setTimeout(function(){
                ComponentsFormTools.init();
                }, 
                    400);
                // Contact form  validation 
                jQuery('#submit_case_action').click(function(event) { 
                    event.preventDefault();
                    if (jQuery('#case_create').validate().form()) { 
                        jQuery('#case_create .form-control').each(function() {
                            jQuery(this).attr('name', jQuery(this).attr('attrName'));
                        });
                        jQuery('#case_create').submit();
                    }
            });
    });
</script>   