<div class="page-container">
    <div class="page-head">
        <div class="container-fluid">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Contacts <small>Find and manage Contacts</small></h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
                <!-- BEGIN THEME PANEL -->
                
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>          
    </div> 
    <div class="page-content">
        <div class="container-fluid">
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="/dashboard">Dashboard</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/contacts">Contacts</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    <%=@edit_contact.first_name %>&nbsp;&nbsp;<%=@edit_contact.last_name %>
                </li>                        
            </ul>                    
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row" id="product_detail">
                <div class="col-md-12">
                    <!-- BEGIN TODO SIDEBAR -->
                    <div class="profile-sidebar" style="">
                        <!-- PORTLET MAIN -->
                        
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-green-sharp bold uppercase">Contact Info</span>
                                </div>
                            </div>
                            <p>
                                <strong>Name</strong> <br>
                                <strong><a href="/contacts/details"><%=@edit_contact.first_name %>&nbsp;&nbsp;<%=@edit_contact.last_name %></a></strong>
                            </p>
                            <p>
                                <strong>Compnay Name</strong> <br>
                                <%=@edit_contact.v_company_name %>
                            </p>
                            <p>
                                <strong>Email</strong> <br>
                                <a href="mailto:<%=@edit_contact.email %>"><%=@edit_contact.email %></a>
                            </p>
                            <p>
                                <strong>IM (Skype)</strong> <br>
                                <a href="skype:raghav_zwt?call"><%=@edit_contact.v_im_skype %></a>                                        
                            </p>
                            <p>
                                <strong>Country</strong> <br>
                                <%=@edit_contact.v_country %>
                            </p>
                            <p>
                                <strong>Cell Number</strong> <br>
                                <a href="tel:<%=@edit_contact.v_cell_number %>"><%=@edit_contact.v_cell_number %></a>
                            </p>
                            <p>
                                <strong>Phone (Office)</strong> <br>
                                <a href="tel:<%=@edit_contact.v_phone %>"><%=@edit_contact.v_phone %></a>
                            </p>
                            <p>
                                <strong>Tags</strong> <br>
                                <%=@edit_contact.v_tags %>
                            </p>
                            <p>
                                <strong>LinkedIn Profile</strong> <br>
                                <a target="_blank" href="<%=@edit_contact.v_linkedin_url %>"><%=@edit_contact.v_linkedin_url %></a>
                            </p>
                            <p>
                                <strong>Website URL </strong> <br>
                                <a target="_blank" href="http://<%=@edit_contact.v_website_url %>"><%=@edit_contact.v_website_url %></a>
                            </p> 
                            <p>
                                <strong>Added On </strong> <br>
                                <%=@edit_contact.created_at.to_formatted_s(:long) %>
                            </p>                                   
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END TODO SIDEBAR -->
                    <!-- BEGIN TODO CONTENT -->
                    <div class="todo-content">
                        <div class="portlet light">
                            <div class="portlet-title margin-bottom-0">
                                <div class="caption">                                            
                                    <span class="caption-subject font-green-sharp bold uppercase"><span class="icon-briefcase" aria-hidden="false"></span> <%=@edit_contact.first_name %>&nbsp;&nbsp;<%=@edit_contact.last_name %></span>
                                </div>                               
                                <div class="btn-group key_resource pull-right">
                                    <a role="menuitem" tabindex="-1" href="/contacts/<%=@edit_contact.id %>/edit"><button class="btn green-haze btn-responsive pull-right dropdown-toggle" data-hover="dropdown" aria-expanded="true"><i class="fa fa-edit">&nbsp;</i>Edit Contact</button></a>                                    
                                </div>
                            </div>
                            <div class="inbox p0">
                                <div class="tabbable-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#portlet_tab1" class="btn-responsive" data-toggle="tab">
                                                Follow Up </a>
                                        </li>
                                    </ul>
                                   <div class="tab-content">
                                        <!--Add a note tab-->
                                        <div class="tab-pane active" id="portlet_tab1">
                                            <%= form_for(@followup) do |f| %>
                                                <div class="alert alert-success display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    Contact Followup information are successfully Added! 
                                                </div>
                                                <div class="alert alert-danger display-hide">
                                                    <button class="close" data-close="alert"></button>
                                                    You have some form errors. Please check below.
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label style="padding-left:0px" class="control-label col-md-4">Date <span class="required">*</span></label>
                                                            <div data-date-start-date="+0d" data-date-format="mm-dd-yyyy" name="followed_up_date" attrname="followup[followed_up_date]" class="input-group col-md-8 date date-picker" style="padding-left: 10px;">
                                                                <input type="text" readonly="" placeholder="Followed Up Date" name="followed_up_date" attrname="followup[followed_up_date]"  class="form-control" />
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label pull-left col-md-4">Type <span class="required">*</span></label>
                                                            <div class="col-md-8">
                                                                <select class="form-control select2me" id="follow_ups_followed_up_type_id" name=followup[followed_up_type_id]>
                                                            <option value="1">Phone</option>
                                                            <option value="2">IM(Skype)</option>
                                                            <option value="3">Email</option>
                                                            <option value="4">Social Media</option>
                                                          </select>
                                                            </div>
                                                        </div>
                                                    </div>                                                       
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Followed Up By <span class="required">*</span></label>
                                                            <div class="col-md-8">
                                                            <input type="text" name="followed_up_by" attrname="followup[followed_up_by]" disabled="" class="form-control" value=<%=@edit_contact.user.v_firstname %> />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="control-label" for="inputWarning">Outcome <span class="required">*</span></label>
                                                            <textarea name="v_outcome" attrname="followup[v_outcome]" class="form-control" rows="4" placeholder="Add a note about Outcome"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="caption-subject font-green-sharp bold uppercase">Future Follow Up</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label style="padding-left:0px" class="control-label col-md-4">Date <span class="required">*</span></label>
                                                            <div data-date-start-date="+0d" data-date-format="mm-dd-yyyy" name="d_next_followed_up_date" attrname="followup[d_next_followed_up_date]"  class="input-group col-md-8 date date-picker" style="padding-left: 10px;">
                                                                <input type="text" readonly="" placeholder="Followed Up Date" name="d_next_followed_up_date" attrname="followup[d_next_followed_up_date]" class="form-control" />
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Type </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control select2me" name="followup[next_followed_up_type_id]">
                                                                    <option value="1">Phone</option>
                                                                    <option value="2">IM(Skype)</option>
                                                                    <option value="3">Email</option>
                                                                    <option value="4">Social Media</option>
                                                                </select>
                                                            </div>   
                                                        </div>
                                                    </div>                                                       
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Person Reponsible</label>
                                                              <div class="col-md-8">
                                                                  <%= select_tag 'next_followed_up_by', options_for_select(@users.collect{ |u| [u.v_firstname, u.id] }), :class => "form-control select2me"%> 
                                                              </div>             
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-actions">
    												<div class="row">
    													<div class="col-md-12">
    														<div class="row">
    															<div class="col-md-offset-10">
    																<button type="submit" id="submit_followup_action" class="btn green-haze">
                                                                        Save </button>
                                                                    <button type="reset" class="btn default">
                                                                    Reset </button>
    															</div>
    														</div>
    													</div>
    												</div>
    											</div>      
                                        </div>
                                    </div>
                                </div> 
                                <% end %>
                                      
                                <%#= render :partial => "followups/index" %>
                                <%= render :template => 'followups/index' %>
                                <%#= render "followups/index" %>
                                                
                            </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- END TODO CONTENT -->
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
    <div class="modal fade bs-modal-lg" id="case-detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Case Info</h4>
                </div>
                <div class="modal-body">
                    <div class="light">
                    <p>
                        <strong>Title</strong> <br>
                        <strong><a href="/cases/details">Case title will display here with long text</a></strong>
                    </p>
                    <p>
                        <strong>Reference Urls</strong> <br>
                        <a target="_blank" href="http://www.zealousweb.com">http://www.zealousweb.com</a>, <a target="_blank" href="http://www.bluetext.com">http://www.bluetext.com</a>, <a target="_blank" href="http://www.zealousweb.com">http://www.zealousweb.com</a>
                    </p>
                    <p>
                        <strong>Files </strong> <br>
                        <a target="_blank" href="http://www.zealousweb.com">file1</a>, <a target="_blank" href="http://www.bluetext.com">file2</a>, <a target="_blank" href="http://www.zealousweb.com">file3</a>
                    </p>
                    <p>
                        <strong>Tags </strong> <br>
                        tag1, tag2
                    </p>
                    <p>
                        <strong>Description </strong> <br>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <p>
                        <strong>Notes </strong> <br>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                    <p>
                        <strong>Staus </strong> <br>
                        Open
                    </p>
                </div>
                </div>
                <div class="modal-footer">                        
                    <button type="button" class="btn blue" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- END PAGE CONTENT -->
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-select/bootstrap-select.min.css"/>
<link href="/css/todo.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" />
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/components-form-tools.js"></script>
<script>
    jQuery(document).ready(function() {       
                // initiate layout and plugins
                setTimeout(function(){
                Metronic.init();
                }, 
                    5);
        if (jQuery().datepicker) { $('.date-picker').datepicker({rtl: Metronic.isRTL(),orientation: "left",autoclose: true}); }
            ComponentsFormTools.init();

        if (jQuery().datepicker) { 
            $('.date-picker').datepicker({rtl: Metronic.isRTL(),orientation: "left",autoclose: true}); 
        }  
        // validation of followup page
        jQuery('#submit_followup_action').click(function(event) { 
            event.preventDefault();
                if (jQuery('#new_followup').validate().form()) { 
                    jQuery('#new_followup .form-control').each(function() {
                        jQuery(this).attr('name', jQuery(this).attr('attrName'));
                    });
                    jQuery('#new_followup').submit();
                }
            return false;
        });

        // ajax for select followup Type on contact show page
        jQuery('body').on('change','#follow_type, #activity_type', function(e) {
            var selectedValue = this.value;
            $.ajax({
                url: '/followups',
                dataType: "html",
                type: 'GET',
                data: {option : selectedValue},
                success: function(response) {
                    $(".activity_container").html(response); 
                    ComponentsFormTools.init();  
                },
                error: function() {
                    alert('ajax error');
              }
            });
        });
    });
</script>