<p id="notice"><%= notice %></p>

<h1>Listing Followups</h1>

<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Case</th>
      <th>Followed up date</th>
      <th>Followed up type</th>
      <th>Followed up by</th>
      <th>V outcome</th>
      <th>D next followed up date</th>
      <th>Next followed up type</th>
      <th>Next followed up by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followups.each do |followup| %>
      <tr>
        <td><%= followup.contact_id %></td>
        <td><%= followup.case_id %></td>
        <td><%= followup.followed_up_date %></td>
        <td><%= followup.followed_up_type_id %></td>
        <td><%= followup.followed_up_by %></td>
        <td><%= followup.v_outcome %></td>
        <td><%= followup.d_next_followed_up_date %></td>
        <td><%= followup.next_followed_up_type_id %></td>
        <td><%= followup.next_followed_up_by %></td>
        <td><%= link_to 'Show', followup %></td>
        <td><%= link_to 'Edit', edit_followup_path(followup) %></td>
        <td><%= link_to 'Destroy', followup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Followup', new_followup_path %>
