<tr role="row" class="odd"><td class="sorting_1"><div class="checker"><span><input type="checkbox" value="1" name="id[]"></span></div></td><td><a href="/sales/<%= sales.id %>/edit"><%=sales.v_firstname %> <%=sales.v_lastname %></a></td><td><a href="mailto:<%= sales.email %>"><%= sales.email %></a></td><td><a href="tel:<%= sales.v_phone %>"><%= sales.v_phone %></a></td><td> <% if sales.e_status? %> <span class="label label-sm label-success">Active
										<% else %><span class="label label-sm label-danger">Inactive <% end %></span></td>
										<td>
											<a class="btn btn-xs default" href="/sales/<%= sales.id%>/edit">
													<i class="fa fa-edit"></i>
													Edit
											</a> | 
											<a class="btn btn-xs default" href="/sales/destroy_user.<%= sales.id %>" data-method="delete" rel="nofollow" data-confirm="Are you sure?"><i class="fa fa-times">Delete</i>
											</a>
										</td>
</tr>
<!-- /sales/destroy_user.<%= sales.id 