<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container-fluid">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Sales People<small> Find and manage sales people</small></h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
                <!-- BEGIN THEME PANEL -->
                
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>
    </div>
    <!-- END PAGE HEAD -->
    
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container-fluid">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="/dashboard">Dashboard</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/sales">Sales People</a><i class="fa fa-circle"></i>
                </li>                        
                <li class="active">
                    Kavish Jash
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row margin-top-10">
                <div class="col-md-12">
                    <!-- BEGIN PROFILE SIDEBAR -->
                    <div class="profile-sidebar" style="">
                        <!-- PORTLET MAIN -->
                        
                        <div class="portlet light">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject font-green-sharp bold uppercase">Sales Person Info</span>
                                </div>
                            </div>
                            <p>
                                <strong>Name</strong> <br>
                                <%= @salesuser.v_firstname %> <%= @salesuser.v_lastname %>
                            </p>                                   
                            <p>
                                <strong>Email</strong> <br>
                                <a href="mailto:testing.demo@gmail.com">
                                <%= @salesuser.email %></a> 
                            </p>
                            <!-- <p>
                                <strong>Password</strong> <br>
                                <%= @salesuser.password %></a> 
                            </p> -->
                            <p>
                                <strong>Skype</strong> <br>
                                <%= @salesuser.v_im_skype %>
                            </p>
                            <p>
                                <strong>Skype Password</strong> <br>
                                <%= @salesuser.v_im_password %> 
                            </p>
                            <p>
                                <strong>Phone</strong> <br>
                                <a href="tel:866-123-1234">
                                    <%= @salesuser.v_phone %> 
                                </a>
                            </p>
                            <p>
                                <strong>Gmail ID</strong> <br>
                                <a href="mailto:testing.demo@gmail.com">
                                <%= @salesuser.v_gmail %> 
                                </a>
                            </p>
                            <p>
                                <strong>LinkedIn Profile</strong> <br>
                                <a href="http://www.linkedin.com/testing" target="_blank">
                                <%= @salesuser.v_linkedin_url %></a>
                            </p>    
                            <p>
                                <strong>Added On </strong> <br>
                                <%= @salesuser.created_at.to_formatted_s(:long) %>
                                <!-- 5th may, 2015 -->
                            </p>                                
                        </div>
                        <!-- END PORTLET MAIN -->
                    </div>
                    <!-- END BEGIN PROFILE SIDEBAR -->
                    <!-- BEGIN PROFILE CONTENT -->
                    <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Edit Sales Person</span>
                                        </div>
                                        
                                    </div>

                                    <div id="error_explanation">
                                        <% if flash[:notice] %>
                                            <div id="login-response-block" class="alert alert-danger display-hide" style="display:block;">
                                                <button class="close" data-close="alert"></button>
                                                <span><%= flash[:notice] %></span>
                                            </div>
                                        <% end %>
                                    </div>

                                    <div class="portlet-body">
                                        <!-- PERSONAL INFO TAB -->
                                        <!-- <form id="edit_sales" class="edit_sales" action="/sales/update_sales"> -->
                                        <%= form_for(@salesuser, :url => sales_update_sales_path(@salesuser), :html => {:class => 'edit-sales-form', :id => 'edit-sales-form' }) do |f| %>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">First Name <span class="required">*</span></label>
                                                        <%= f.text_field :v_firstname, attrName: "user[v_firstname]", name: "v_firstname", class:"form-control", placeholder:"Your first name" %>
                                                    </div>
                                                </div>                         
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name <span class="required">*</span></label>
                                                        <%= f.text_field :v_lastname, attrName: "user[v_lastname]", name: "v_lastname", class:"form-control", placeholder:"Your last name" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Email <span class="required">*</span></label>
                                                        <%= f.email_field :email, attrName: "user[email]", name: "email", class:"form-control", placeholder:"Your EmailId" %>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Password</label>
                                                         <%= f.password_field :password, attrName: "user[password]", name: "password", class:"form-control", placeholder:"Your password" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Skype <span class="required">*</span></label>
                                                        <%= f.text_field :v_im_skype, attrName: "user[v_im_skype]", name: "v_im_skype", class:"form-control", placeholder:"Your Skype" %>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Skype Password </label>
                                                        <%= f.password_field :v_im_password, attrName: "user[v_im_password]", name: "v_im_password", class:"form-control", placeholder:"Your Skype Password" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">        
                                                    <div class="form-group">
                                                        <label class="control-label"> Phone <span class="required">*</span></label>
                                                       <%= f.text_field :v_phone, attrName: "user[v_phone]", name: "v_phone", class:"form-control", placeholder:"Your Phone Number" %>
                                                    </div>                                        
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Gmail ID<span class="required">*</span></label>
                                                        <%= f.email_field :v_gmail, attrName: "user[v_gmail]", name: "v_gmail", class:"form-control", placeholder:"Your Gmail ID" %>

                                                    </div>
                                                </div>                                              
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-6">        
                                                    <div class="form-group">
                                                        <label class="control-label">LinkedIn Profile<span class="required">*</span></label>
                                                        <%= f.text_field :v_linkedin_url, attrName: "user[v_linkedin_url]", name: "v_gmail", class:"form-control", placeholder:"Your LinkedIn Profile" %>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">                      
                                                    <div class="form-group">
                                                        <label class="control-label">Status <span class="required">*</span></label>
                                                        <select class="form-control select2me" name="e_type">
                                                            <option value="true">Active</option>
                                                            <option value="false">Inactive</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left">
                                                <button type="submit" id="submit_action" class="btn green-haze">
                                                  Save Changes </button>
                                                <a href="/" class="btn default">Cancel </a>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->       

<script>
    jQuery(document).ready(function() {       
                // initiate layout and plugins
                Metronic.init(); // init metronic core components
    });
    jQuery(document).ready(function() {    
        // Edit User Page validation 
        jQuery('#submit_action').click(function(event) { 
            event.preventDefault();
            if (jQuery('#edit-sales-form').validate().form()) { 
                jQuery('#edit-sales-form .form-control').each(function() {
                    jQuery(this).attr('name', jQuery(this).attr('attrName'));
                });
                jQuery('#edit-sales-form').submit();
                }
            return false;
        });
    });
</script>